body {
	font: 14px Arial, Helvetica, sans-serif;
	line-height: 22px;
	margin: 0;
	color: grey;
}

h1 {
	margin: 0 0 30px 0;
	font-size: 26px;
	line-height: 45px;
	color: dimgrey;
}

.wrapper {
	margin: 60px 0 0 10%;
	float: left;
}

.wrapper div {
	margin: 0 80px 0 0;
	float: left;
	width: 20%;
}

.wrapper div:last-child {
	margin: 0;
}

ol, ul {
	margin: 0;
	padding: 0;
	float: left;
	width: 100%;
}

ol li, ul li {
	border-bottom: 1px silver solid;
	padding: 0 0 15px 0;
	margin: 0 0 15px 0;
	float: left;
	width: 100%;
}

ol li:last-child, ul li:last-child {
	border: none;
}

/* recent tracks */

.recent-tracks {
	float: left;
}

.tracks li {
	float: left;
	width: 100%;
}

.tracks li .artwork {
	margin: 0 5% 0 0;
	float: left;
	width: 60px;
}

.tracks li .details {
	float: left;
	width: 65%;
}

.tracks li span.artist {
	display: block;
	float: left;
	width: 100%;
}

.tracks li span.title {
	margin: 0 5px 0 0;
}

/* weekly artists */

.weekly-artists {
	float: left;
}

.weekly-artists .artist {
	margin: 0 5px 0 0;
}

/* weekly albums */

.weekly-albums span {
	float: left;
}

.weekly-albums .artist {
	width: 100%;
}

.weekly-albums .album {
	margin: 0 5px 0 0;
}

/* top artists */

.top-artists .artist {
	margin: 0 5px 0 0;
}

.top-artists img {
	width: 100%;
	height: auto;
}

/* links */

a {
	color: crimson;
	text-decoration: none;
}

/* helpers */

.hide {
	display: none;
}
